<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    <link rel="stylesheet" href="{{ '/assets/css/toc_style.css' | relative_url }}">

    {% seo %}

    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">

    <script type="text/x-mathjax-config">
      MathJax = {
          chtml: {
              displayAlign: 'center',   // 默认公式居中对齐
              displayIndent: '0',      // 默认公式缩进
              mtextFontInherit: true     // 使mtext元素继承周围文本的字体
          },
          tex: {
              inlineMath:  [ ['$','$'], ["\\(","\\)"] ], // 行内公式选择$
              displayMath:  [['$$', '$$'], ['\\[', '\\]']], // 段内公式选择$$
              processEscapes: true,
              skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'], // 避开某些标签
              ignoreClass:"comment-content" // 避开含该Class的标签
          }
        }
    </script>
    <!-- https://cdnjs.com/libraries/mathjax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-chtml-full-speech.min.js"
        integrity="sha512-aQ9Jr/9Srs06OIXwC6Qm8EiTa3rd+R2XB+4JNuMHQPCNr0JQPEEHs7S/6d/LKaw5Lr9/w3SBN1pEnOn11C4rfA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer">
    </script>

  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <div class="layout">
          <aside class="toc-sidebar">
              {% include toc.html html=content %}
          </aside>
          <section id="main_content" class="main-content">
              {{ content }}
          </section>
      </div>
    </div>

  </body>
</html>
